.app{
  height: 100em;
  background-color: darkgray;
}

.homepage{
  height: 100em;
  background-color: darkgrey;
  
}

.buttonContainer{
  margin-top: 200px;
  
}
.button1{
  height:100px;
}

.addbutton{
 height: 40px;
}
.scheduletable{
  margin-top: 25px;
}
